<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>vmController</servlet-name>
        <servlet-class>Controller.vmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventController</servlet-name>
        <servlet-class>Controller.EventController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventPollController</servlet-name>
        <servlet-class>Controller.EventPollController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizationController</servlet-name>
        <servlet-class>Controller.OrganizationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentController</servlet-name>
        <servlet-class>Controller.DepartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventPollItemController</servlet-name>
        <servlet-class>Controller.EventPollItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultController</servlet-name>
        <servlet-class>Controller.ResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PollController</servlet-name>
        <servlet-class>Controller.PollController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PollItemController</servlet-name>
        <servlet-class>Controller.PollItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PollResultController</servlet-name>
        <servlet-class>Controller.PollResultController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adController</servlet-name>
        <servlet-class>Controller.adController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>Controller.ContactController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>vmController</servlet-name>
        <url-pattern>/vmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventController</servlet-name>
        <url-pattern>/EventController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventPollController</servlet-name>
        <url-pattern>/EventPollController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizationController</servlet-name>
        <url-pattern>/OrganizationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentController</servlet-name>
        <url-pattern>/DepartmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventPollItemController</servlet-name>
        <url-pattern>/EventPollItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultController</servlet-name>
        <url-pattern>/ResultController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PollController</servlet-name>
        <url-pattern>/PollController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PollItemController</servlet-name>
        <url-pattern>/PollItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PollResultController</servlet-name>
        <url-pattern>/PollResultController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adController</servlet-name>
        <url-pattern>/adController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
